<a href="https://colab.research.google.com/github/Alaa-f-Abdalaal/Calculate-Num/blob/main/task1ITI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:

num1 = 3
num2 = 4
num3 = 5
# a
print("a:", num1 + num2)
# b
print("b:", num3 - num1)
# c
print("c:", num1 * num2 + num3)
# d
print("d:", num1 * (num2 + num3))
# e
print("e:", num3 / num1)
# f
print("f:", num3 // num1)
# g
print("g:", num3 % num1)
# float
num1 = 3.0
num2 = 4.0
num3 = 5.0
print("\nFloat results:")
print("a:", num1 + num2)
print("b:", num3 - num1)
print("c:", num1 * num2 + num3)
print("d:", num1 * (num2 + num3))
print("e:", num3 / num1)
print("f:", num3 // num1)
print("g:", num3 % num1)

a: 7
b: 2
c: 17
d: 27
e: 1.6666666666666667
f: 1
g: 2

Float results:
a: 7.0
b: 2.0
c: 17.0
d: 27.0
e: 1.6666666666666667
f: 1.0
g: 2.0

In [6]:
x, y, z, g = 1, 2, 3, 4
print("\n2.a:", x + y * z / g)
print("2.b:", y * z)

2.a: 2.5
2.b: 6

In [7]:
str_a = "Python"
str_b = " is a "
str_c = " times fun language"
num = 1000

# a
str_ab = str_a + str_b + str(num) + str_c
print("\n3.a:", str_ab)

# b
str_a10 = str_a * 10
print("3.b:", str_a10)

3.a: Python is a 1000 times fun language
3.b: PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [8]:
import math

num_1, num_2, num_3, num_4 = -5, 3.2, 5.7, 625

# a
print("\n4.a Absolute:", abs(num_1))
# b
print("4.b Round:", round(num_2), round(num_3))
# c
print("4.c Square root:", math.sqrt(num_4))

4.a Absolute: 5
4.b Round: 3 6
4.c Square root: 25.0

In [9]:
# 1. Odd or Even
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")


# 2. Pass or Fail
score = int(input("Enter your score (0-100): "))
if score >= 50:
    print("Pass")
else:
    print("Fail")


# 3. Largest of 3 numbers
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
largest = a
if b > largest:
    largest = b
if c > largest:
    largest = c
print("Largest number is:", largest)


# 4. Counting with for
for i in range(1, 11):
    print(i)


# 5. Grade Calculator
marks = int(input("Enter your marks (0-100): "))
if 90 <= marks <= 100:
    print("Grade: A")
elif 80 <= marks <= 89:
    print("Grade: B")
elif 70 <= marks <= 79:
    print("Grade: C")
elif 60 <= marks <= 69:
    print("Grade: D")
else:
    print("Grade: F")


# 6. Multiplication Table
n = int(input("Enter a number for multiplication table: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")


# 7. Sum of Even Numbers from 1 to 50
total = 0
for i in range(1, 51):
    if i % 2 == 0:
        total += i
print("Sum of even numbers from 1 to 50 is:", total)


# 8. Factorial with while
num = int(input("Enter a number to find factorial: "))
fact = 1
i = 1
while i <= num:
    fact *= i
    i += 1
print(f"Factorial of {num} is:", fact)

Enter a number: 6
Even
Enter your score (0-100): 7
Fail
Enter first number: 3
Enter second number: 6
Enter third number: 4
Largest number is: 6.0
1
2
3
4
5
6
7
8
9
10
Enter your marks (0-100): 7
Grade: F
Enter a number for multiplication table: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Sum of even numbers from 1 to 50 is: 650
Enter a number to find factorial: 3
Factorial of 3 is: 6